{% if page.title == "The Other One - Homepage" %}
{% elsif page.title == "The Other One - Wind Waker HD" %}
	{% include WindWakerMain.html %}
{% elsif page.title == "The Other One - Glitches" %}
	{% include GlitchesMenu.html %}
{% elsif page.title == "The Other One - Air Cancel" %}
	{% include GlitchesMenu.html %}
{% elsif page.title == "The Other One - Any% Easy 1" %}
	{% include GlitchesMenu.html %}
{% elsif page.title == "The Other One - Trial Skip Leafless" %}
	{% include GlitchesMenu.html %}
{% elsif page.title == "The Other One - Rock Skip Dragonroost" %}
	{% include GlitchesMenu.html %}
{% else %}
{% endif %}