---
---

html, body 
{
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  font-family: "Open Sans", Helvetica, Verdana, Arial, Sans-Serif, serif;
  height: 100%;
}

body 
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Open Sans", Helvetica, Verdana, Arial, Sans-Serif, serif;
    color: #000;
    background-color: #eeeeee;
}

#content
{
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 35px;
	text-align: justify;
}

p
{
    margin-top: 3px;
    margin-bottom: 6px;
    margin-left: 0px;
    color: #000;
}

hr
{
    border-top: 2px solid black;
}

header 
{
	position: fixed; 
    top: 0;
    height: 180px !important;
	width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    //background: #686868 url(../../Images/header-bg.jpg) 0 0 repeat;
}

footer 
{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    color: #000;
    background-color: #fff;
    clear: both;
}

#main 
{
    padding-top: 5px;
	padding-bottom: 5px;
    border-top: solid 1px #fff;
	background-color: white;
	border-bottom: solid 5px #000;
	position: relative;
}

#main-content 
{
    float: left;
	margin-left: 350px;
}

#main-content img 
{
    max-width: 100%;
}

#sidebar 
{
	position: absolute;
    min-height: 500px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 1.3;
	background-color: #000;
	min-width: 200px;
	height: 100%;
}

#inner-header 
{
    position: relative;
    width: 940px;
    margin-left: 12%;
}

#inner-content 
{
    position: relative;
    //width: 940px;
    margin-left: 20px;
}

#inner-footer 
{
    margin-left: 12%;
}

header h1 
{
    //width: 540px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 65px;
    font-weight: bold;
	text-decoration: none;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
}

header h2
{
    width: 540px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0;
}

a 
{
  color: #2879d0;
  text-decoration: none;
}

a:hover 
{
  color: #2268b2;
}


a:visited 
{
  color: #ff4800;
}

footer a 
{
    color: #4583d0;
}

table 
{
    border-collapse: collapse;
}

table, th, td 
{
    border: 1px solid black;
}
